<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的博客</title>
    <link rel="stylesheet" href="/static/blog.css">
    <script src="/static/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="home">
        <h1>
            我的博客
        </h1>
        <img src="/static/img/admin2.jpg" alt="">
        <hr>
        <p v-if='movies.length==0'>尚未获取</p>
        <div id="imagelist">
            <img v-for="img in movies" v-bind:src="apiurl + img.pic" alt="">
        </div>
        <button v-on:click="getData()">获取视频</button>
    </div>

    <script>
        new Vue({
            el:'#home',
            data:{
                apiurl:'https://api.dweb.club/',
                movies:[]
            },
            methods:{
                getData() {
                    var self = this
                    axios({
                        methods:'get',
                        type:'json',
                        url:'https://api.dweb.club/dweb-api/get-index-data'
                    }).then(function (res) {
                        self.movies = res.data.newsdata
                    })
                }
            },
        })
    </script>
</body>
</html>